.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


.tuote {
  font-size: large;
  font-weight: bold;
  color: black
  
}

.del {
  font-size: large;
  text-decoration: line-through;
  color: gray;
}